<p id="notice"><%= notice %></p>

<p>
  Artist //
  <h1><%= @artist.name %></h1>
</p>

<ul style="list-style-type: none;">
<p>Songs // </p>
  <b><% @artist.songs.each do |song| %></b>
      <li><h2><%= song.name %></h2></li>
  <% end %>
</ul>
<br/>
<fieldset>
  <b>Add a Song:</b>
  <%= form_for([@artist, @artist.songs.build]) do |f| %>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
   </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

</fieldset>
<br/>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to '<< Back', artists_path %>
