<p><a href="/"><< home</a></p>
<p id="notice"><%= notice %></p>

<p>
  Artist //
  <h1><%= @artist.name %></h1>
</p>

<ul style="list-style-type: none;">
<p>Songs // </p>
  <b><%= render @artist.songs %></b>
</ul>
<br/>

<fieldset>
  <b>Add a Song:</b>
  <%= render "songs/form" %>
</fieldset>
<br/>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to '<< Back', artists_path %>
