<% if notice %>
<p id="notice"><%= notice %></p> <% end %>

<h1>Playlistrrr</h1>

<h3>Share music with anyone, anywhere.</h3> 
<ul>
  <li>Easily find your favorite music.</li>
  <li>Search by <%= link_to "ARTIST", artists_path %>, <%= link_to "SONG", songs_path %> or  <%= link_to "GENRE", genres_path %>.</li>
  <li>Create and share playlists with ANYONE, no need to sign-up or download a thing.</li>
</ul>
<br/>
<p><strong><< <%= link_to "ARTISTS", artists_path %> >> | << <%= link_to "SONG", songs_path %> >> | << <%= link_to "GENRE", genres_path %> >></strong></p>
<br/>
<< <%= link_to 'Add a Song', new_song_path %> >> << <%= link_to 'Add an Artist', new_artist_path %> >>



<br/>
<h4>About Playlistrrr</h4>
<p>Spotify, Rdio, and iTunes won't let you share music with non-members. That's lame.</p>
<p>Playlistrrr lets you share music with just a simple, permanent link. The music is streamed via the YouTube open API.</p>
